<!doctype html>
<html lang="en">
<head>
    <link href="./styles/normalize.css" rel="stylesheet"/>
    <link href="./styles/skeleton.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDo App</title>

</head>
<body>
    <div class="containter">
        {% block content %}

        {% endblock content %}
    </div>

</body>
</html>